[Desktop Entry]
Version=1.0
Type=Application
Name=Spring Tool Suite
GenericName=IDE
Comment=Sophisticated text editor for code, markup and prose
Exec=/opt/sts-4.22.1.RELEASE/SpringToolSuite4
Terminal=false
MimeType=text/plain;
Icon=eclipse128.png
Categories=Development;IDE;
StartupNotify=true
